.chat_box {
  display: flex;

  .online_users {
    background-color: white;
    width: 30%;
    max-width: 400px;
    border: 1px solid white;
    margin-right: 10px;
    height: 540px;
    overflow-y: auto;
    border-radius: 4px;
  }

  .chats {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  .chat_box {
    flex-direction: column-reverse !important;

    .online_users {
      width: 100%;
      margin-bottom: 20px;
      max-width: initial;
    }

    .chats {
      width: 100%;
    }
  }
}
